<div class="section-content-primary">
  <div class="container">
    <div class="content-box">
      <h2 class="heading">
        Privacy Policy
      </h2>
      <h3>
        Purpose and Application
      </h3>
       <p align="justify">
        Quotr Inc. (hereinafter “<strong>Quotr</strong>”, “<strong>we</strong>”, “<strong>us</strong>”<strong>, </strong>“<strong>our</strong>”) is very sensitive
        to the privacy concerns of our customers, potential customers and visitors to our website and so we have developed this Privacy Policy to:
      </p>
      <ul class="bulleted">
        <li>
           <p align="justify">
            describe what types of Personal Information (as described below) we collect from customers, potential customers and visitors to our website            <a href="http://www.quotr.ca/"><strong>www.quotr.ca</strong></a><strong> </strong>(the “<strong>Site</strong>”);
          </p>
        </li>
        <li>
           <p align="justify">
            set out the purposes for which we use Personal Information;
          </p>
        </li>
        <li>
           <p align="justify">
            identify the third parties to whom we disclose Personal Information;
          </p>
        </li>
        <li>
           <p align="justify">
            describe how we safeguard Personal Information;
          </p>
        </li>
        <li>
           <p align="justify">
            set out what rights you have regarding Personal Information; and
          </p>
        </li>
        <li>
           <p align="justify">
            let you know how to contact us if you have questions or concerns.
          </p>
        </li>
      </ul>
       <p align="justify">
        This Privacy Policy has been designed to comply with the <em>Personal Information Protection and Electronic Documents Act</em> (the “<strong>Act</strong>”)
        and other relevant privacy legislation.
      </p>
       <p align="justify">
        Please read this Privacy Policy carefully. This Privacy Policy should be read in conjunction with the terms and conditions contained in the Terms of Use
        posted on <a href="http://www.quotr.ca/terms_and_conditions"><strong>www.quotr.ca/terms_and_conditions</strong></a><strong> </strong>. All
        capitalized terms used herein not otherwise defined, as applicable, shall have the meanings ascribed to such terms in the Terms of Use.
      </p>
      <h3>
        Personal Information and Collection
      </h3>
       <p align="justify">
        In this Privacy Policy, “<strong>Personal Information</strong>” means information that refers to an individual specifically and that is personally
        identifiable, such as your age, income, credit records, date of birth, ethnic origin, e-mail address, account numbers, passwords and so on. Information
        that is not considered Personal Information includes, but is not limited to, information contained in public telephone directories where the subscriber can
        refuse to be listed that may include your name, address, or telephone number, professional and business directories available to the public, certain public
        registries and court records, and certain other publicly-available printed and electronic publications. We only collect Personal Information when you
        voluntarily submit it to us, when you authorize us to collect it from third parties, or when third parties have the right to provide us your Personal
        Information.
      </p>
       <p align="justify">
        If you do not want your Personal Information collected, do not provide it to us, do not authorize us to collect it from third parties, or do not provide
        third parties with the right to provide us with such Personal Information, as applicable.
      </p>
      <h3>
        Use of Information
      </h3>
       <p align="justify">
        Quotr and its affiliates may use and or maintain records of your Personal Information, including, without limitation, your name, address, e-mail address,
        and other relevant registration data as the case may be, for the following purposes:
      </p>
      <ul class="bulleted">
        <li>
           <p align="justify">
            to provide and facilitate your use of the Site, including, if applicable, registering your user account for the Site;
          </p>
        </li>
        <li>
           <p align="justify">
            to provide you with our products and services, including, without limitation, sending and receiving confirmations, communications, invoices or
            bills, validating your identity, providing you support, authorizing and processing payments or performing credit checks as may be required by us in
            order to provide you with our products and services;
          </p>
        </li>
        <li>
           <p align="justify">
            to communicate with you generally about the Site, our products, or our services;
          </p>
        </li>
        <li>
           <p align="justify">
            to conduct marketing research, and to send you marketing and other communications or to recommend products or services that we believe will be of
            interest to you;
          </p>
        </li>
        <li>
           <p align="justify">
            to understand your needs and preferences and your eligibility for our products &amp; services;
          </p>
        </li>
        <li>
           <p align="justify">
            to develop and enhance the Site, our products, and services;
          </p>
        </li>
        <li>
           <p align="justify">
            to respond to specific requests from you;
          </p>
        </li>
        <li>
           <p align="justify">
            to administer and manage our business and operations, including the protection of the security and integrity of our services and our website;
          </p>
        </li>
        <li>
           <p align="justify">
            to perform statistical analyses of behaviour and characteristics of your use of our Site, products, or services in order to measure interest in and
            use of the various sections of the Site, our products, or our services so as to improve design and navigation of the Site, our products, or our
            services;
          </p>
        </li>
        <li>
           <p align="justify">
            to protect against fraud and error; and
          </p>
        </li>
        <li>
           <p align="justify">
            to meet legal and regulatory requirements as applicable.
          </p>
        </li>
      </ul>
       <p align="justify">
        We will only use your Personal Information for the purposes for which it was collected, and will only retain your Personal Information only as long as we
        require it for such purposes. We may also collect non-personal, aggregated information about your use of the Site, our products, or our services. This
        information is not personally identifiable to you and will only be used by Quotr to determine various anonymized usage statistics about the Site, our
        products, or our services.
      </p>
       <p align="justify">
        Please note that any personal information or content that you voluntarily disclose while using the Site or our products or services which can be viewed by
        other users of the Site, our products, or our services (e.g., via discussion boards, in direct or private messages and chat areas, or via third party
        services etc.), becomes publicly viewable at such time and can be collected and used by others thereafter. Please also note that, due to the global nature
        of the Internet, you may be transferring your personal information to countries outside of your jurisdiction of residence whose legal systems do not offer
        the same protection for your data as the laws of your jurisdiction of residence.
      </p>
      <h3>
        Disclosure of Information
      </h3>
       <p align="justify">
        Quotr will disclose Personal Information it collects to certain independent contractors of Quotr, subsidiaries and affiliates of Quotr, consultants,
        business associates, suppliers, service providers, and credit and collection agencies, if and to the extent the disclosure will enable that party to
        perform a function related to one of the purposes described above.
      </p>
       <p align="justify">
        Some service providers may be located in other jurisdictions that do not have privacy legislation similar to such legislation contemplated by this Privacy
        Policy and information in such jurisdictions may be accessed pursuant to the laws of those countries.
      </p>
       <p align="justify">
        We may from time to time engage in transactions such as the sale or securitization of assets, public offerings, private placements and the sale of shares
        in our company, amalgamations and similar transactions and Quotr reserves the right to disclose your Personal Information to other persons in connection
        with their review of such a transaction. Quotr will use reasonable attempts to secure an undertaking from any such persons to treat your Personal
        Information with the same degree of care and diligence as was provided by Quotr.
      </p>
      <h3>
        Safeguarding Personal Information
      </h3>
       <p align="justify">
        We maintain physical, electronic, and procedural safeguards designed to protect your Personal Information. We review such safeguards on a periodic basis
        and revise them if necessary. We take reasonable steps designed to limit access to Personal Information only to persons as provided for in this Privacy
        Policy.
      </p>
      <h3>
        Your Rights
      </h3>
       <p align="justify">
        You may:
      </p>
      <ul class="bulleted">
        <li>
           <p align="justify">
            refuse to provide us with your Personal Information;
          </p>
        </li>
        <li>
           <p align="justify">
            ask us for access to Personal Information that we possess;
          </p>
        </li>
        <li>
           <p align="justify">
            ask us to correct any inaccuracies or omissions in your Personal Information; or
          </p>
        </li>
        <li>
           <p align="justify">
            ask us to remove Personal Information we possess, subject to reasonable notice, existing legal or regulatory obligations and our reasonable
            business requirements
          </p>
        </li>
      </ul>
       <p align="justify">
        However, we may not be able to offer you some of our services or functions of our website if you do not provide us with certain Personal Information or if
        you ask for your Personal Information to be removed. Marketing communications will only be sent to you if you elect to receive them when you register on
        our website or when you sign up for our services. You may opt out of receiving marketing communications at any time by selecting the “unsubscribe” option
        (in the case of e-mail communications), visiting our website or contacting our call centre.
      </p>
      <h3>
        Tracking, IP Address, and Third Party Cookies
      </h3>
       <p align="justify">
        Quotr may store cookies on your computer to facilitate and customize your experience on the Site. Cookies are alphanumeric identifiers that enable our
        systems to recognize your internet browser and to provide you with certain features. We use cookies in order to provide a better, more customized user
        experience of the Site. Cookies also allow us to collect automatic information from you, including which pages you visit and what links you click, etc.
        Most browsers automatically accept cookies, however, it is usually possible to change your internet browser settings so that your internet browser declines
        cookies. If you decline to accept cookies, it is possible that some parts of the Site, our products, or our service may not work properly.
      </p>
       <p align="justify">
        Your Internet Protocol (“<strong>IP</strong>”) address is usually associated with the physical place from which you enter the Internet, like your Internet
        Service Provider, your company or your university. We may, from time to time, use your IP address to help diagnose problems with our server, gather broad
        demographic information, or administer the Site.
      </p>
      <h3>
        Links to other sites
      </h3>
       <p align="justify">
        Our website contains links to other third-party websites and online services. If you choose to visit another website or online service by clicking on a
        link, you will be directed to that third party’s website or online service. The fact that we may link with a website or online service is not an
        endorsement of their privacy policy or information security policies or practices. We do not exercise control over these third parties and they may place
        their own cookies or other files on your computer and collect data or solicit Personal Information from you. Other sites and online services follow
        different rules regarding the collection, use and/or disclosure of Personal Information. We encourage you to read the privacy policies or statements of the
        other websites or online services you visit before providing any information or using such websites or services.
      </p>
      <h3>
        Contact Info
      </h3>
       <p align="justify">
        <a href="mailto:support@quotr.ca"><strong>support@quotr.ca</strong></a>
        <br>
        <a href="http://www.quotr.ca/contact"><strong>www.quotr.ca/contact</strong></a>
      </p>
    </div>
  </div>
</div>