.box-wrapper
  .image.section-image-3
  .box-container.bg-semi-white
    .container
      .box
        .box-heading
          %h2 Why is this beneficial?
        .box-body
          %p.text-center
            In this day and age, no one has time to waste, and when looking for quotes from companies, contractors, etc., it can be incredibly time-consuming and exasperating to schedule a time to meet with people just for estimation purposes.
            %br/
            There are several small to mid-sized jobs that do not require on-site inspections in order for a quote to be provided – and it is often the scheduling of the on-site inspections that are difficult, timely and inconvenient for both the consumer and contractor.
          .row
            .col-sm-6
              %p
                %b By eliminating unnecessary on-site inspections, contractors can:
              %ul
                %li Book jobs more quickly
                %li Invest less time providing quotes, and more time on the actual project at hand
                %li Increase productivity
                %li Compete with direct competition
                %li Advertise services online
            .col-sm-6
              %p
                %b By eliminating unnecessary on-site inspections, consumers can:
              %ul
                %li Compare competitive prices
                %li Compare contractors’ experience, knowledge, portfolio etc. right on the website
                %li Save time looking for estimations
                %li Get the job started and completed in a timely, efficient manner