%footer
  .container
    .row
      .col-sm-4
        .footer-links
          %h4 Company
          %ul.list-unstyled
            %li
              =link_to "Contact Us", new_feedback_path
            %li
              =link_to "Projects",projects_path
            %li
              =link_to "Blog","http://blog.quotr.ca/",:target=>'_blank'
            %li
              =link_to "Register",new_user_registration_path
            %li
              =link_to "Business Sign Up",new_user_registration_path({business: true})
            %li
              =link_to "Login",new_user_session_path
      .col-sm-4
        .footer-links
          %h4 Legal
          %ul.list-unstyled
            %li
              =link_to "Privacy Policy",privacy_policy_path
            %li
              =link_to "Terms & Conditions",terms_and_conditions_show_path
      .col-sm-4
        .footer-links
          %h4 Get Social
          %ul.social-links.list-inline
            %li
              =link_to 'http://www.facebook.com/QuotrSupport',:target=>'_blank',:title => "Like us on Facebook" do
                %i.fa.fa-facebook
            %li
              =link_to 'http://www.instagram.com/QuotrSupport',:target=>'_blank',:title => "Follow us on Instagram" do
                %i.fa.fa-instagram
  .copyright
    %p Copyright © 2016 Quotr. All rights reserved.