.box-wrapper
  .image.section-image-2
  .box-container.bg-semi-white
    .container
      .box
        .box-heading
          %h2 How does it work?
        .box-body
          %p.text-center
            Contractors are able to view prospective jobs and submit quotes based on the detailed information, description and pictures provided by the client via our site.
            %br/
            Prospective clients post what they’re looking for; contractors send over a quote. It’s truly that simple. Contractors will also have a profile to display experience, knowledge, past-projects, consumer ratings, etc. allowing them to separate themselves from their direct competition.