/ box-wrapper
.box-wrapper
  .image.section-image-1
  .box-container.bg-semi-white
    .container
      .box
        .box-heading
          %h2 What is the purpose?
        .box-body
          %p.text-center
            The website is designed to simplify the process of delivering/receiving quotes. It eliminates the rigmarole that comes with finding contractors to receive an estimate on a project.