<div class="container">
		<div class="row m-t-45">
	    <div class="col-sm-6 col-sm-offset-3 posted">
				<%= react_component 'PurchasingForm',
	        {
	            api_key: @api_key,
	            package: @package,
	            source: @source,
	        }
				%>
		</div>
	</div>
</div>