<div class="section-bg">
	<div class="container">
		<div class="row m-t-55">
	    <div class="col-sm-6 col-sm-offset-3 posted">
				<div class="well well-lg text-center p-t-75 p-b-75 ">
					<h2 class="text-gold m-t-0 m-b-20">Thank you!</h2>
					<p>
			  		Your feedback has been received
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('body').css('background-image','url(<%= asset_url('feedback-successfull.jpg') %>)').addClass('bg-loaded');
</script>
